* {
    box-sizing: border-box;
}
button {
    border: none;
    background-color: #3f3ff5;
    color: white;
    border-radius: 1rem;
    padding: .5rem 1rem;
    float: right;
    margin-right: 1rem;
}

img {
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;
}

h1 {
    display: block;
    text-align: center;
    padding: 4.5rem;
}

#topbar {
    background-color: #aaa;

}

li {
    text-decoration: none;
}