* {
    box-sizing: border-box;
}
#cardContainer {
    margin: auto;
    display: block;
    width: 100%;
}

#cardContainer div {
    margin: 1rem;
}

#add {
    float: right;
    margin-right: 2rem;
}